* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: white;
  font-family: sans-serif;
}
button{
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  transition: all .2s;
}
button:hover{
  box-shadow: 0 0 20px white;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 20px;
  margin-top: 20px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas:
    "plus_1 res_1 minus_1"
    "plus_2 res_2 minus_2"
    "plus_3 res_3 minus_3"
    "plus_4 res_4 minus_4"
  ;
}

.why{
  font-size: 1.5em;
  text-align: center;
}
.count{
  font-size: 2em;
  text-align: center;
}
.res{
  text-align: center;
}

.green{
  color: green;
}
.red{
  color: red;
}





.plus_1 {
  grid-area: plus_1;
  color: rgb(3, 200, 3);
}

.plus_2 {
  grid-area: plus_2;
}

.plus_3 {
  grid-area: plus_3;
}

.plus_4 {
  grid-area: plus_4;
}

.res_1 {
  grid-area: res_1;
}

.res_2 {
  grid-area: res_2;
}

.res_3 {
  grid-area: res_3;
}

.res_4 {
  grid-area: res_4;
}

.minus_1 {
  grid-area: minus_1;
  color: red;
}

.minus_2 {
  grid-area: minus_2;
}

.minus_3 {
  grid-area: minus_3;
}

.minus_4 {
  grid-area: minus_4;
}